# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Client/.vs
/Client/Release/*.pdb
/Client/Release/*.iobj
/Client/Release/*.ipdb
/Client/Debug/*.pdb
/Client/Debug/*.ilk
/Client/Client/Release
/Client/Client/x64
/Client/Client/Debug
/Server/.vs
/Server/Debug
/Server/Server/Debug

*.log
*.obj
*.tlog
/Server/x64
/Server/Server/x64
